@model crud.Models.Article

<!-- Modal 'Details' -->
<div class="modal fade" id="modal_details_@{@Model.Id}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.Label("Nombre")
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-sm", @readonly = true })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Category)
                        @Html.TextBoxFor(model=>model.Category.Name, new { @class = "form-control form-control-sm", @readonly = true})
                    </div>
                    <div class="form-group">
                        @Html.Label("Descripción")
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-control-sm", @readonly = true })
                    </div>
                    <div class="form-group">
                        @Html.Label("Cantidad")
                        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control form-control-sm", @readonly = true })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm px-3" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>