@using crud.Models;

@model IEnumerable<crud.Models.Article>

@{
    ViewBag.Title = "Lista de artículos";
}

@Html.Partial("_AlertNotify")
@Html.Partial("_PopupNotify", "Contenido copiado al portapapeles")

@Styles.Render("~/Content/datatables")
@Styles.Render("~/Content/datatables-buttons")

<h3>@ViewBag.Title</h3>
<p>@ViewBag.Message</p>
<div>
    @using (Html.BeginForm("Create", "Article", FormMethod.Get))
    {
        <button type="submit" class="btn btn-success btn-sm px-3">Agregar</button>
    }
</div>
<br />
<div class="table-responsive">
    <table id="table-articles" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Article article in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(model => article.Id)</th>
                    <td>@Html.DisplayFor(model => article.Name)</td>
                    <td>@Html.DisplayFor(model => article.Category.Name)</td>
                    <td>@Html.DisplayFor(model => article.Description)</td>
                    <td>@Html.DisplayFor(model => article.Quantity)</td>
                    <td class="py-1">
                        @Html.Partial("_ActionButtons", article)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count()</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables-articles")
    @Scripts.Render("~/bundles/datatables-buttons")

}