@model IEnumerable<crud.Models.Article>

@{
    ViewBag.Title = "Lista de artículos";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<div>
    @using (Html.BeginForm("Create", "Article", FormMethod.Get))
    {
        <button type="submit" class="btn btn-success btn-sm px-3">Agregar</button>
    }
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Quantity)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(model => item.Id)</th>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.Description)</td>
                    <td>@Html.DisplayFor(model => item.Quantity)</td>
                    <td>
                        @Html.Partial("_ActionButtons", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: @Model.Count()</p>
</div>