<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - crud_mvc_aspnet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @Html.ActionLink("crud_mvc_aspnet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            @Html.ActionLink("Artículos", "Create", "Article", null, new { @class = "nav-link dropdown-toggle text-white", data_toggle = "dropdown" })
                            <div class="dropdown-menu">
                                @Html.ActionLink("Agregar", "Create", "Article", null, htmlAttributes: new { @class = "dropdown-item" })
                                <div role="separator" class="dropdown-divider"></div>
                                @Html.ActionLink("Ver lista", "List", "Article", null, htmlAttributes: new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            @Html.ActionLink("Categorías", "Create", "Category", null, new { @class = "nav-link dropdown-toggle text-white", data_toggle = "dropdown" })
                            <div class="dropdown-menu">
                                @Html.ActionLink("Agregar", "Create", "Category", null, new { @class = "dropdown-item" })
                                <div role="separator" class="dropdown-divider"></div>
                                @Html.ActionLink("Ver lista", "List", "Category", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Reportes", "Reports", "Home", null, new { @class = "nav-link text-white" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top text-muted footer">
        <div class="container">
            &copy; @DateTime.Now.Year - crud_mvc_aspnet ASP.NET
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
