@model crud.Models.Category

<!-- Modal 'Delete' -->
<div class="modal fade" id="modal_delete_@{@Model.Id}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Borrar categoría
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea eliminar la categoría <strong>@Model.Name</strong>?
            </div>
            <br />
            @using (Html.BeginForm("Delete", "Category"))
            {
                @Html.AntiForgeryToken()

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm px-3" name="id" value="@Model.Id">Aceptar</button>
                </div>
            }

            @*<h4>Category</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>

                </dl>*@
        </div>
    </div>
</div>
